<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/wadb_title"
        android:theme="@style/AppTheme">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="@string/wadb_description" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope" android:value="android" />

        <activity android:name=".StatusActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".LogReceiver"
            android:directBootAware="true"
            android:exported="true" />
        <provider
            android:name=".LogProvider"
            android:authorities="dev.wirelessadb.autostart.log"
            android:directBootAware="true"
            android:exported="true" />
    </application>
</manifest>
